html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../public/images/Top-Business-Credit-Cards-jpg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
h1 {
  text-align: center;
  color: #d5f3a6;
  margin-top: 50px;
}
footer {
  text-align: center;
  font-size: 16px;
  color: #d5f3a6;
}
footer a {
  color: #d5f3a6;
  font-weight: bold;
  transition: all 300ms ease-in-out;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
  cursor: pointer;
}
@media (max-width: 960px) {
  footer {
    font-size: 14px;
  }
}
